.header-wrapper {
    padding:20px 0
}
.header__mobile {
    display:block;
}
.header__title {
    padding-left:20px
}
.header__menu {
    display:none;
    position:static;
    width:auto;
    margin-top:15px;
    background-color:#333
}
.header__menu-item {
    float:none;
    margin:0;
    text-align:center;
    border-top:1px solid #777;
    border-bottom:1px solid #777;
    margin-top:-1px;
}
.header__menu-link {
    padding:12px 0
}
.introduce--UI {
    padding:0 20px 50px
}
.dev__title {
    padding:40px 0;
}
.dev__item {
    float:none;
    width:auto;
    margin:20px 0 0
}
.work__item {
    float:none;
    width:auto;
    height:auto;
    border-top:1px solid #777;
    border-bottom:1px solid #777;
    margin-top:30px;
}
.work__item:first-child {
    margin-top:0
}
.work__item-thumb {
    height:auto;
}
.work__item-link:hover:after {
    display:none !important
}
.introduce--history {
    padding:50px 20px
}
.history__list {
    float:none;
    width:auto;
    margin-top:40px;
}
.history__list:first-child {
    margin-top:0
}
.history__comment-head {
    font-size:30px;
}
.history__comment-short {
    font-size:18px;
}
.history__comment-text {
    font-size:13px;
    line-height:1.8
}
.history__description {
    font-size:13px;
    line-height:1.8
}
.introduce--infomation {
    padding:50px 20px
}
.infomation {
    width:auto;
    margin:0 0 40px
}
.infomation__description-list {
    display:block;
    margin:0;
    text-align:left;
}
.infomation__description-title {
    text-align:left
}
.infomation__description-text {
    padding:10px 0;
}